.App {
  text-align: center;
  background: yellowgreen;
}


.loginga-qaytish{
   border: 3px solid red;
   border-radius: 12px;
   background: rgba(255, 0, 0, 0.392);
   font-weight: 700;
   
}
.loginga-qaytish:hover{
  background: red;
  color: white;
  font-size: 15px;
}
.textBag{
  background:darkseagreen;
  
}